@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background: linear-gradient(to right, rgb(226, 226, 226), rgb(201, 214, 255));
}

form{
    background-color: rgba(90, 178, 255, 0.822);
    display: grid;
    place-content: center;
    margin: 10px 70px;
    padding: 10px;
    border-radius: 10px;
}
.info-container{
    width: 100%;
    padding: 6px 23px;
}

label{
    font-size: large;
    color: rgb(255, 255, 255);
}
input,select{
    padding: 15px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
}
input[type="submit"]{
    background-color: rgb(255, 0, 0);
    width: 100%;
    max-width: 120px;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: 300;
    border:none;
    margin: 10px auto;
    display: block;
}
input[type ="submit"]:hover{
    box-shadow: 5px 5px 10px rgb(255, 255, 255);
    background-color: rgb(125, 0, 0);
}

.sidebar {
    height: 100vh;
    width: 180px;
    background-color: rgba(90, 178, 255, 0.822);
    padding: 10px 0 0 10px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    text-transform: uppercase;
}

/* CSS for the links on hover */
.sidebar a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

/* CSS for the main content */

/* CSS for the sub-menu */
.sub-menu {
    color: rgb(0, 0, 0);
    display: none;
    background-color: rgb(226, 226, 226);
}

/* CSS for the sub-menu links */
.sub-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    display: block;
}

.sub-menu a:hover {
    color: rgba(90, 178, 255, 0.822);
}

.content {
    flex: 1;
    background-color: #fff;
    margin: 5px 6px;
    border-radius: 20px;
}
.logo img {
    width: 50px; /* Set image width */
    margin: auto;
}
