@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background: linear-gradient(to right, rgb(226, 226, 226), rgb(201, 214, 255));
}

span, a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 600;
}

.table-responsive tbody {
    display: block;
    height: 300px;
}

.table-responsive thead,
.table-responsive tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 10px;
}

.table-responsive thead {
    width: calc(100% - 1em);
}

.table-responsive tbody {
    width: calc(100% - 1em);
}
        .buttonpr {
            width: 100px;
            padding: 20px;
            border-radius: 10px;
            outline: none;
            border: none;
            color: white;
            background-color: red;
            margin: 20px;
        }
/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    th,
    td {
        padding: 15px 5px; /* Further adjusted padding for smaller screens */
    }
}
@media print {
    body * {
        font-size: 12pt;
        margin: 0;
        visibility: hidden;
    }
   .printableTable, .printableTable *{
        visibility: visible;
    }
    .printableTable{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    button {
        display: none; /* Hide the print button when printing */
    }
}

.sidebar {
    height: 100vh;
    width: 180px;
    background-color: rgba(90, 178, 255, 0.822);
    padding: 10px 0 0 10px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    text-transform: uppercase;
}

/* CSS for the links on hover */
.sidebar a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

/* CSS for the main content */

/* CSS for the sub-menu */
.sub-menu {
    color: rgb(0, 0, 0);
    display: none;
    background-color: rgb(226, 226, 226);
}

/* CSS for the sub-menu links */
.sub-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    display: block;
}

.sub-menu a:hover {
    color: rgba(90, 178, 255, 0.822);
}

.content {
    flex: 1;
    background-color: #fff;
    margin: 5px 6px;
    border-radius: 20px;
}
.logo img {
    width: 50px; /* Set image width */
    margin: auto;
}
#watermark p{
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
    color: gray;
    opacity: 0.1;
    background-color: none;
}