@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poetsen One",sans-serif;
}
body{
    background-color: rgba(219, 219, 219, 0.199);
}
/*HEADING*/
.heading{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px;
    align-items: center;

    background-color: black;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    border-bottom: 5px solid goldenrod;
}
img{
    width: 10vh;
}
p{
    font-size: x-large;
}
/*SIDEBAR*/
.sidebar{
    width: 25vh;
    height: 100vh;
    background-color: rgb(218, 165, 32);

}
.dropdown button{
    background-color: rgb(145, 105, 4);
    color: white;
    width: 25vh;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-bottom: 3px solid rgba(255, 255, 255, 0.634);
    font-size: medium;
}
.dropdown a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 5px 5px;
    border-bottom:3px solid rgba(255, 230, 128, 0.508);
}
.content{
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.804);
    margin-left: 15vh;
}
.dropdown:hover .content{
    display: block;
}
/*BODY*/
.totalmembers,.total_profit{
    margin-left: 500px;
    width: 200px;
    height: 100px;
    

    background-color: goldenrod;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(126, 126, 126);
}
.totalmembers{
    margin-top: -670px;
    margin-left: 500px;
    position: absolute;
}
.total_profit{
    margin-top: -670px;
    margin-left: 250px;
    position: absolute;
}
#TOTAL, #count{
    display: grid;
    place-content: center;
    text-decoration: none;
    color: black;
    font-size: larger;
    margin-top: 10px;
}

#chartContainer{
    height: 400px;
    width: 800px;
    display: grid;
    place-content: center;
    margin-top: -500px;
    margin-left: 300px;
    border: 2px solid red;
}
