@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    padding: 10px;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    background: linear-gradient(to right, rgb(226, 226, 226), rgb(201, 214, 255));
}
/* img{
    width: 70px;
} */
/* .head-container{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;

    background-color: #eef7ff;
    box-shadow: 10px 0px 5px black;
    cursor: pointer;
}
.head-container a{
    text-decoration: none;
    color: black;
    font-size: large;
} */
/*TABLE*/
table{
    margin: auto;
    margin-top: 20px;
    box-shadow: 2px 2px 5px grey;
    width: 90%;
}
th{
    background-color: rgba(90, 178, 255, 0.822);
    color: white;
}
 thead,tr,th,td,tbody{
    text-align: center;
    border-left: 3px solid rgba(128, 128, 128, 0.537);
    border-collapse: collapse;
    padding: 15px 10px;
}
tr:nth-child(even){
    background-color: Rgba(90, 178, 255, 0.822);
}
/* Media Query for Responsive Design */
/* @media screen and (max-width: 768px) {
    .head-container {
        padding: 8px 15px;
    }

    .head-container a {
        font-size: medium;
    }

    table {
        font-size: medium;
    }
} */
/* sidebar design*/
.sidebar {
    height: 100vh;
    width: 180px;
    background-color: rgba(90, 178, 255, 0.822);
    padding: 10px 0 0 10px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    text-transform: uppercase;
}

/* CSS for the links on hover */
.sidebar a:hover {
    color: #f1f1f1;
}

/* CSS for the main content */

/* CSS for the sub-menu */
.sub-menu {
    color: rgb(0, 0, 0);
    display: none;
    background-color: rgb(226, 226, 226);
}

/* CSS for the sub-menu links */
.sub-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    display: block;
}

.sub-menu a:hover {
    color: rgba(90, 178, 255, 0.822);
}

.content {
    flex: 1;
    background-color: #fff;
    margin: 5px 6px;
    border-radius: 20px;
}
.logo img {
    width: 50px; /* Set image width */
    margin-left: 50px;
}
.logo h6{
    margin-left: 30px;
}
#wtr p{
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
    color: white;
    opacity: 0.2;
    background-color: none;
}